body {
  height: 101vh;
}

.btn-utama:hover {
  /* background-color: rgb(225, 153, 98);
  border-color: rgb(226, 135, 67); */
  background-color: rgb(58, 176, 58);
}

.bg-oren {
  background-color: rgb(226, 135, 67);
}

/* Tabel */

.dataTables_length select {
  width: 60px !important;
  border-radius: 10px !important;
}

/* Tabel > Ubah warna latar belakang dan teks pada tabel */
table.dataTable thead th {
  color: #ffffff; /* ubah warna teks menjadi putih */
  background-color: rgba(34, 64, 128); /* ubah warna latar belakang menjadi transparan biru */
  background-color: rgb(226, 135, 67);
}

td {
  border-radius: 5px;
}

.dataTables_paginate {
  font-size: 0.7rem;
}

.page-link {
  border-radius: 15px;
}

.dataTables_paginate .page-item.active .page-link {
  background-color: orange;
  border-color: orange;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #fdb813 !important;
  background: linear-gradient(45deg, #ffc130, #ffc130) !important;
  border-color: #fdb813 !important;
  color: #fff !important;
  border-radius: 10px;
}

/* div.dataTables_info {
	  font-size: 0.9rem;
	} */

.rounded-6 {
  border-radius: 10%;
}
